* {margin: 0; padding: 0; box-sizing: border-box;}
a {
   outline: 0;
   color:#000;
   text-decoration: none;
}

ul,ol {
	list-style: none;
    margin-top: 0;
    margin-bottom: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label {
    /* display: inline-block; */
    max-width: none !important;
    margin-bottom: initial !important;
    font-weight: initial !important;
}


html {
    font-size: initial !important;
    -webkit-tap-highlight-color: none !important;
        background-color: #F1F1F1;
}

a:focus, a:hover {
    color: none !important;
    text-decoration: none !important;
}


th {
   text-align: initial !important;
}

}

body {
	overflow-x: hidden;
	margin:auto;
	font-family: none !important;
    font-size: 0 !important;
    line-height: normal !important;
    color: none !important;
    background-color: none !important;
}

footer {
    clear:both;
}

ul,nav,ol,a,li,div,p,h1,label,h2,h3,h4,input,pre {
    font-family: 'iran-sans',Helvetica,Geneva,Verdana,sans-serif;
    direction: rtl;
}


@font-face {
    font-family: 'iran-sans';
    src: url('../fonts/IRANSans-Medium-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iran-sans-light';
    src: url('../fonts/IRANSans-Light-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrow222:before {
  content: "\e000";
}
.flaticon-black302:before {
  content: "\e001";
}
.flaticon-check-box:before {
  content: "\e002";
}
.flaticon-college:before {
  content: "\e003";
}
.flaticon-creditcard3:before {
  content: "\e004";
}
.flaticon-delete85:before {
  content: "\e005";
}
.flaticon-house204:before {
  content: "\e006";
}
.flaticon-key162:before {
  content: "\e007";
}
.flaticon-magnifier12:before {
  content: "\e008";
}
.flaticon-mail3:before {
  content: "\e009";
}
.flaticon-money379:before {
  content: "\e00a";
}
.flaticon-rounded54:before {
  content: "\e00b";
}
.flaticon-search1:before {
  content: "\e00c";
}
.flaticon-test1:before {
  content: "\e00d";
}
.flaticon-user146:before {
  content: "\e00e";
}
.flaticon-user7:before {
  content: "\e00f";
}




/*             ***************     */



/*     side menu     */


/*
.search-form3 input[type="text"]{
    text-align: right;
    direction: rtl;
    font-family: 'iran-sans-light';
    padding-left:30px;
    font-size: 0.6rem;
}

.search-form3 a img {
    left: 8px;
}

.search-form3 {
    position: relative;
    display: block;
    width: 182px;
    margin: 34px auto 0;
}

.search-form3 input[type="text"]{
    width: 145px;
    display: inline-block;
    height: 30px;
    border: none;
    border-bottom: solid 1px #FFFFFF;
    transition: border 0.3s;
    background: url(images/icon/magnifying-glass34.png) no-repeat scroll 7px 7px;
}

.search-form3 input[type="text"]:focus {
    border-bottom: solid 1px #CF4EF3;
}

.search-form3 input::-webkit-input-placeholder {
   color: #fff;
}

.search-form3 input:-moz-placeholder { 
   color: #fff;  
}

.search-form3 input::-moz-placeholder {  
   color: #fff;  
}

.search-form3 input:-ms-input-placeholder {  
   color: #fff;  
}


.search-form3 a img {
    width: 14px;
    position: absolute;
    top: 11px;
}

*/

.no-child a {
    font-size: 0.7rem;
    display: block;
    line-height: 35px;
    width: 260px;
    padding: 0 20px 0px 17px;
    color: #B7B7B7;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}

.avatar {
  display: block;
  width: 75px;
  border-radius: 50%;
  margin:15px auto 0;

}

.name {
  text-align: center;
  padding: 10px 0 0;
  color:#fff;
  font-size: 0.9rem;
  font-family: iran-sans-light;
}

.item-has-children > a:hover {
  background-color:rgba(0, 45, 90, 0.8);
  transition-duration: 200ms;
  color:#fff !important;

}

.no-child a:hover {
  background-color:rgba(0, 45, 90, 0.8);
  transition-duration: 200ms;
  color:#fff !important;
}

.sub-menu li a:hover {
  background-color:rgba(0, 45, 90, 0.8);
  transition-duration: 200ms;
  color:#fff;
}






.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  /*min-height: 100%; */
  position: relative;
  background-color: #fff;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-main-content.lateral-menu-is-open {
  /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}


header {
  position: relative;
  top: 0;
  left: 0; 
  width: 100%;
  z-index: 3;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
header.lateral-menu-is-open {
  /* translate to show the lateral menu */
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header.is-fixed {
  position: fixed;
}


#cd-logo {
  display: block;
  float: left;
  margin: 12px 0 0 20px;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 22px 0 0 30px;
  }
}

#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none;
}
#cd-top-nav ul {
  height: 100%;
  padding-top: 18px;
}
#cd-top-nav li {
  display: inline-block;
  margin-right: 1em;
}
#cd-top-nav a {
  display: inline-block;
  padding: .5em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}
#cd-top-nav a.current {
  background-color: #242e30;
}
.no-touch #cd-top-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 768px) {
  #cd-top-nav {
    display: block;
  }
}

#cd-menu-trigger {
position: absolute;
    width: 20px;
    top: 0;
    height: 20px;
    top: -77px;
    left: 13px;
    background-color: #D6DFFF;
    display: none;
}
.cd-menu-icon { background-color: white;}
#cd-menu-trigger .cd-menu-text {
  height: 100%;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  display: none;
}
#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
      display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 24px;
    height: 3px;
    background-color: #004FA0;
  /* these are the upper and lower lines in the menu menu */
}
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  margin:2px 0;
  position: absolute;
  background-color: inherit;
  left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
  bottom: 5px;
}
#cd-menu-trigger .cd-menu-icon::after {
  top: 5px;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: white;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {

  #cd-menu-trigger .cd-menu-text {
    display: inline-block;
    line-height: 70px;
  }
  #cd-menu-trigger .cd-menu-icon {
    left: auto;
    right: 1.25em;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 260px;
  background-color: #090E33;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
}
#cd-lateral-nav .cd-navigation {
  margin: 25px 0 16px;
}
#cd-lateral-nav .sub-menu {
  display: none;
  background-color: #040825;
}
.item-has-children > a {
    font-size: 0.7rem;
    display: block;
    line-height: 40px;
    width: 260px;
    padding: 0 20px 0px 17px;
    color: #B7B7B7;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}

.sub-menu li a {
    font-size: 0.6rem;
    font-family: 'iran-sans-light';
    display: block;
    line-height: 30px;
    padding: 0 61px 0 16px;
    color: #B7B7B7;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}
#cd-lateral-nav a.current {
  background-color: #3a4a4d;
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
  }
}
#cd-lateral-nav.lateral-menu-is-open {
  z-index: 5;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 29px;
  background: url("../images/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children:first-child > a::after {
    display:none;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {     /* arrow rotation css */
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}


/*     side menu     */


/* master page */

.header {
  width: calc(100% - 260px);
  height: 60px;
  background-color: rgb(214, 223, 255);
  margin: 0 auto;
  float:left;
}

.container {
  width: 100% !important;
  margin:0 auto !important;
  padding:0 !important;
}

aside {
  width: 260px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: #090E33;
  float:right;
}

.content {
  width: auto;
  height: 100%;
  background-color: #F1F1F1;
  padding:75px 15px 15px 15px;
  margin-right: 260px;
}

aside .name {
padding: 15px 0 35px;
}

.dropdown li ul li a {
  font-size: 0.6rem;
  font-family: 'iran-sans-light';
  display: block;
  line-height: 30px;
  padding: 0 61px 0 16px;
  color: #B7B7B7;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}

.dropdown li ul li a:hover{
  background-color: rgba(0, 45, 90, 0.8);
  transition-duration: 200ms;
  color: #fff !important;
}

.dropdown li ul {
  background-color: #040825;
}

.dropdown > li > a::after {
    content: '';
    display: block;
    height: 11px;
    float: left;
    top: 23px;
    left: 12px;
    width: 8px;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../images/cd-arrow.svg") no-repeat center center;
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(-90deg) !important;
    -moz-transform:translateY(-50%) rotate(-90deg) !important;
    -ms-transform: translateY(-50%) rotate(-90deg) !important;
    -o-transform: translateY(-50%) rotate(-90deg) !important;
    transform:translateY(-50%) rotate(-90deg) !important;
}


.stu-logo {
    width: 160px;
    position: relative;
    right: 9px;
    top: 3px;
    float:right;
}

.panel-info-text{
  font-family: iran-sans-light;
    font-size: 0.75rem;
    position: relative;
    color: #004F9F;
    display: block;
    float: right;
    width: 240px;
    right: 28px;
    top: 23px;
}

.user-settings {
    width: 140px;
    cursor: pointer;
    float: left;
    display: block;
    padding: 19px 0;
    left: 25px;
    color: #0B3C6F;
    top: 0px;
    position: relative;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}

.user-settings:hover {
    transition-duration: 200ms;
    color: #0068D4;

}

.user-settings span {
    font-family: iran-sans-light;
    font-size: 0.8rem;
    top: 5px;
    margin-right: 10px;
    position: relative;
}

.user-settings i{
  width: 21px;
  display: block;
  float: right;
}

.user-settings::after {
  background: url("../images/cd-arrow.svg") no-repeat center center;
  content: '';
    display: block;
    width: 8px;
}

.user-submenu {
    width: 185px;
  	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.5s linear;
    left: -25px;
    position: absolute;
    top: 60px;

}

.user-submenu li {
  background-color:rgb(0, 79, 159);
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: background 0.5s ease, padding 0.5s linear ,color 0.5s ease-in-out 0s,;
}

.user-submenu li:hover {
  background-color: rgb(16, 40, 128);
    transition-duration: 200ms;
    color: #fff;
}

.user-submenu li a{
    color: #EAF1FF;
    position: relative;
    cursor: pointer;
    padding: 9px 0;
    display: block;
    width: 100px;
}

.user-submenu li a:hover {
    color: white !important;
}

.user-submenu li a span {
    right: 41px;
    display: block;
    top: 0;
    position: relative;
    font-family: 'iran-sans-light';
    font-size: 0.7rem;
}

.user-submenu a i {
    width: 11px;
    top: -3px;
    display: block;
    right: 23px;
    position: relative;
    float: right;
}
.user-submenu a i::before {
  font-size:16px;
}

.user-settings:hover > ul.user-submenu{
 visibility: visible;
  opacity: 1;

}

.user-submenu {
transition-duration: 200ms;
}

.down-arrow {
      -webkit-transform: translateY(-50%) rotate(-90deg) !important;
    -moz-transform: translateY(-50%) rotate(-90deg) !important;
    -ms-transform: translateY(-50%) rotate(-90deg) !important;
    -o-transform: translateY(-50%) rotate(-90deg) !important;
    transform: translateY(-50%) rotate(-90deg) !important;
    float: left;
    width: 5px;
    position: relative;
    top: 16px;
    right: 4px;
}

.page-navigation {
    font-family: 'iran-sans-light';
    font-size: 0.6rem;
    margin-bottom: 15px;
}




/**************************************************************** HOME ****************************************************/

#date-box {
	width:20%;
	margin-bottom: 25px;
	display: block;
	float:right;
	position: relative;
	margin-left:1.9%;
	background-color: white;
	height: 200px;
}

#date-day{
    text-align: center;
    font-size: 1rem;
    margin-top:10px;
}

#date-day-num {
    text-align: center;
    font-size: 2.5rem;
}

#date-month {
    text-align: center;
    position: relative;
    display: block;
}

#profile-box {
	width:33%;
	margin-bottom: 25px;
	margin-left:1.9%;
	float:right;
	background-color: white;
    height: 200px;
}

#profile-box ul {
    padding: 2% 4%;
}

#grade-average-chart {
	width:43%;
	float:right;
	background-color: white;
    height: 200px;
    margin-bottom: 25px;
}


/*************************** CHART *************/

.titular {
display: block;
line-height: 60px;
margin: 0;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}
		.block {
			margin: 0 auto;
			background: #394264;
			border-radius: 0;
      float: left;
      width: 100%;
      overflow: hidden;
		}
/*** left container ***/
		.left-container {}
			.menu-box {
				height: 360px;
			}

			.donut-chart-block {
				overflow: hidden;
			}
				.donut-chart-block .titular {
					padding: 10px 0;
				}
				.os-percentages li {
					width: 75px;
					border-left: 1px solid #394264;
					text-align: center;					
					background: #50597b;
				}
					.os {
						margin: 0;
						padding: 10px 0 5px;
						font-size: 15px;		
					}
						.os.ios {
							border-top: 4px solid #e64c65;
						}
						.os.mac {
							border-top: 4px solid #11a8ab;
						}
						.os.linux {
							border-top: 4px solid #fcb150;
						}
						.os.win {
							border-top: 4px solid #4fc4f6;
						}
					.os-percentage {
						margin: 0;
						padding: 0 0 15px 10px;
						font-size: 25px;
					}
			.line-chart-block, .bar-chart-block {
				height: 150px;
			}
				.line-chart {
					height: 200px;
					background: #FFFFFF;
				}
				.time-lenght {
					padding-top: 22px;
					padding-left: 38px;
          overflow: hidden;
				}
					.time-lenght-btn {
						display: block;
						width: 70px;
						line-height: 32px;
						background: #50597b;
						border-radius: 5px;
						font-size: 14px;
						text-align: center;
						margin-right: 5px;
						-webkit-transition: background .3s;
						transition: background .3s;
					}
						.time-lenght-btn:hover {
							text-decoration: none;
							background: #e64c65;
						}
				.month-data {
					padding-top: 28px;
				}
					.month-data p {
						display: inline-block;
						margin: 0;
						padding: 0 25px 15px;            
						font-size: 16px;
					}
						.month-data p:last-child {
							padding: 0 25px;
              float: right;
							font-size: 15px;
						}
						.increment {
							color: #e64c65;
						}

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
GRAFICO LINEAL
******************************************/

.grafico {
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: #000;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 4rem;
  left: 2.5rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; transform: rotate(65deg);}
[data-valor='13'] {width: 39px; transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; transform: rotate(50deg);}
[data-valor='23'] {width: 69px; transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; transform: rotate(75deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #000;
  border-radius: 50%;
}
[data-valor='23']:after {
  display: none;

}
[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 2.5rem;
  width: 100%;
  padding: 0rem 1rem 0 1rem;
  height: 80%;
}
.eje-x {
  height: 1.5rem;
}
.eje-y li {
height: 15%;
    position: relative;
    top: 30px;
    font-size: 0.7rem;
  border-top: 1px solid #DCDCDC;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 13%;
  font-size: 0.7rem;
  font-family: 'iran-sans-light';
  float: left;
  text-align: center;
}

/*************************** CHART *************/






.box-head {
    width: 100%;
    border-bottom: 2px solid #0017BF;
    height: 35px;
    background-color: rgba(0, 23, 191, 0.14);
    overflow: hidden;

}

.box-head h2 {
    font-size: 0.75rem;
    top: 8px;
    font-family: iran-sans-light;
    right: 15px;
    color: #0017BF;
    position: relative;
}


span.profile-label {
    font-family: iran-sans-light;
    font-size: 0.7rem;
}


span.profile-text {
    font-size: 0.7rem;
}


#public-msg {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color:white;
}

.ui-tabs .ui-tabs-nav {
    background-color: white;
    height: 47px;
        margin-top: 10px;
}

.ui-widget-header {
    border: 0px solid #e78f08;
}
.ui-tabs .ui-tabs-nav li {
	float:right;
}

.ui-widget-content {
    border: 0;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000000;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: right;
    font-family: 'iran-sans-light';
    padding: 1em 2em;
    font-size: 0.8rem;
}

.ui-tabs {
	padding: 0;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #525252;
}
.ui-tabs .ui-tabs-panel {
		padding: 1em 0.8em;
	    background-color: #fFF;
	        border: 1px solid #C3C3C3;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #C3C3C3;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #ffF;
}



.msg-table {
    font-size: 0.6rem;
    width: 100%;
    background-color: white;
    border-collapse: collapse; 
}

.msg-table thead tr {
    font-size: 0.75rem;
    font-family: 'iran-sans-light';
}

.msg-table tr:nth-of-type(odd) { 
  background: #fff; 
}
.msg-table th { 
  background: #565656; 
  color: white; 
  font-weight: bold; 
}
.msg-table td, .msg-table th { 
  padding: 6px; 
      font-family: 'iran-sans-light';
  border: 1px solid #ccc; 
  text-align: center; 
}

/**************************************************************** HOME ****************************************************/



/**************************************************************** darkhast govahi ****************************************************/
.contactus-container {
    padding: 35px 0 0;
    margin: 0 auto;
    width: 950px;
}

.contactus-container h1 {

}

.contactus-form {
    width:80%;
    margin:0 auto;
}

.contactus-label {
      right: 10px;
    position: relative;
      font-size: 0.8rem;
    font-family:iran-sans-light;
    display:block;
    margin:20px auto 0;
    width: 89%;
}

.contactus-input, .contactus-textarea {
    width: 85%;
    height:35px;
    display: block;
    background:#F7F7F7;
    border:1px solid #D0D0D0;
    padding:10px;
    margin:10px auto 0;
    color:#3a3a3a;
}

.contactus-input:focus, .contactus-textarea:focus , .captcha-input:focus {
    border:1px solid rgb(146, 170, 255);
    outline:none;
}

.contactus-textarea {
    height:150px;
    resize: vertical;
}

#contactus-submit {
      color: white;
      clear: both;
    width:110px;
    height:38px;
    border:none;
    cursor:pointer;
    background-color: rgb(17, 0, 109);
    margin: 50px 0 25px 25px;
}

#contactus-submit:hover {
        opacity:0.9;
}

.captcha-input {
    width: 200px;
    height: 35px;
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    padding: 10px;
    margin-top: 10px;
    color: #3a3a3a;
    margin-right: 38px;
}

.captcha-image {
    width: 110px;
    display: block;
    height: 42px;
    position: relative;
}



.contactus-form-container {
    display: block;
    position: relative;
    width: 65%;
}

.contactus-text {
    display: block;
    position: relative;
    width: 34.5%;
    color:#4c4c4c;
}


.contactus-text p {
    width: 90%;
    text-align: justify;
}

.captcha-label {
    margin-top:30px;
}

.ajax-loader {
    display: none;
    position: relative;
}

.success {
    display: none;
    margin: 0 auto;
    padding-top: 40px;
    width: 89%;
    clear: both;
}

.success p {
    color: #009000;
}

.success img {
    display: block;
    width: 15px;
    position: relative;
}

.contactus-form input::-webkit-input-placeholder {
    opacity: 0.6;
}

.contactus-form input:-moz-placeholder { /* Firefox 18- */
    opacity: 0.6;
}

.contactus-form input::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.6;
}

.contactus-form input:-ms-input-placeholder {  
    opacity: 0.6;
}


.contactus-form textarea::-webkit-input-placeholder {
    opacity: 0.6;
}

.contactus-form textarea:-moz-placeholder { /* Firefox 18- */
    opacity: 0.6;
}

.contactus-form textarea::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.6;
}

.contactus-form textarea:-ms-input-placeholder {  
    opacity: 0.6;
}


.contactus-container h1 {
    font-size:1.5rem;
    padding-bottom: 30px;
}

#contactus-submit {
    float:left;
    font-family: iran-sans-light;
}

.contactus-textarea {
    font-family:iran-sans-light;
    font-size:0.7rem;
}

.contactus-input {
    font-family:iran-sans-light;
    font-size:0.7rem;

}
.captcha-input {
    float: right;
    font-family: iran-sans-light;
    font-size: 0.7rem;
}

.captcha-image {
    float:left;
    margin: 10px 0 0 26px;
}

.ajax-loader {
    float:right;
    margin: 61px 26px 0 0;
}

.contactus-form-container {
    float:left;
}

.contactus-text {
    float: right;
    border-left: 2px solid rgb(214, 223, 255);
    height: 235px;
}

.contactus-text p {
      padding-right: 20px;
    font-size: 0.7rem;
    font-family: iran-sans-light;
    line-height: 20px;
}

.success p {
    font-family: iran-sans-light;
    font-size: 0.9rem;
}

.success img {
    float:right;
    top: 5px;
    margin: 0 0 0 7px;
}

#govahi {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color:white;
    min-height: 70vh;
}

/**************************************************************** darkhast govahi ****************************************************/


/**************************************************************** mohasebegar shahrie ****************************************************/
.shahrie-table {
    font-size: 0.6rem;
    width: 50%;
        border: 1px solid #000;
    float: left;
    margin: 20px 0 20px 30px;
    background-color: #F3F3F3;
    border-collapse: collapse;
}

.shahrie-table thead tr {
    font-size: 0.75rem;
        height: 35px;
    font-family: 'iran-sans-light';
}

.shahrie-table tr:nth-of-type(odd) { 
  background: #fff; 
}
.shahrie-table th { 
  background: rgb(91, 172, 255); 
  color: white; 
      font-size: 0.8rem;
  font-weight: bold; 
}
.shahrie-table td, .msg-table th { 
    padding: 5px 9px;
    text-align: center;
}


.shahrie-input {
    width: 20%;
    height: 20px;
    display: block;
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    padding: 10px;
    margin: 7px auto;
    color: #3a3a3a;
        direction: ltr;
}

.shahrie-input:focus {
    border:1px solid #000000;
    outline:none;
}

#shahrie-submit {
color: white;
    width: 93px;
    height: 28px;
    display: block;
    margin: 17px auto;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 0, 109);
        font-family: 'iran-sans-light';
}

#shahrie-submit:hover {
        opacity:0.9;
}

#vaahed {
    width: 35%;
    float: right;
    margin: 20px 30px 20px 0;
    display: block;
    background-color: #FFFFFF;
    position: relative;
}

span.vprofile-label {
    font-family: iran-sans-light;
    font-size: 0.7rem;
}


span.vprofile-text {
    font-size: 0.7rem;
    font-family: iran-sans-light;
}

span.gprofile-label {
    font-size: 0.9rem;
}


span.gprofile-text {
    font-size: 0.9rem;
        color: #0072FF;
}

.vahed-nums li {
  line-height: 23px;
}

.vahed-sums li {
  line-height: 35px;
}

ul.vahed-sums {
    margin-top: 55px;
}
/**************************************************************** mohasebegar shahrie ****************************************************/

/**************************************************************** entekhab vahed ****************************************************/

label#entekhabv-label {
    font-family: 'iran-sans-light';
    font-size: 0.9rem;
}




/**************************************************************** entekhab vahed ****************************************************/

.select-course-table {
    font-size: 0.6rem;
    width: 95%;

        border: 1px solid #000;
    margin:50px auto 35px;
    background-color: #F3F3F3;
    border-collapse: collapse;
}

.select-course-table thead tr {
    font-size: 0.75rem;
        height: 35px;
    font-family: 'iran-sans-light';
}

.select-course-table tr:nth-of-type(odd) { 
  background: #E8E8E8; 
}
.select-course-table th { 
  background: rgb(84, 84, 84); 
  color: white; 
      font-size: 0.65rem;
  font-weight: bold; 
}
.select-course-table td { 
    padding: 12px 9px;
    font-size: 0.7rem;
    font-family: 'iran-sans-light';
    text-align: center;
}

#course-code {
  width:95%;
  margin:0 auto;


}

.entekhabv-label {
    position: relative;
    font-size: 0.8rem;
    display: block;
    margin: 22px 0 20px;
    float: right;
    width: 60px;
}

.entekhabv-input {
    width: 65px;
    height: 25px;
    float: right;
    margin: 20px 0;
    display: block;
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    padding: 10px;
    color: #3a3a3a;
}

.entekhabv-input:focus {
    border:1px solid rgb(146, 170, 255);
    outline:none;
}

span.evprofile-label {
    font-size: 0.7rem;
}


span.evprofile-text {
    font-size: 0.7rem;
    color: #002475;
}


ul.entekhab-vahed-sums {
    width: 95%;
    margin: 0 auto 70px;
}

#delete-course::before {
    font-size: 10px;
        margin: 0 auto;
        cursor:pointer;
}

#delete-course:hover::before {
color: #AB0000;
}

#add-course-text {
    display: inline-block;
    margin: 24px 6px 0 0;
    font-size: 0.7rem;
    color: #1000FF;
}

span#add-course-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

span#add-course-text-icon i::before {
    font-size: 16px;
}

span#add-course-text-icon {
    width: 15px;
    float: right;
    display: block;
    margin: 25px 16px 0 0;
    color: #1000FF;
}

div#search-course {
    position: relative;
}

#sc-input {
  width: 165px;
}




.dropdown li:first-child ul li a, .dropdown li:nth-child(2) ul li:nth-child(1) a, .dropdown li:nth-child(2) ul li:nth-child(3) a, .dropdown li:nth-child(2) ul li:nth-child(4) a, .dropdown li:nth-child(3) ul li:nth-child(1) a, .dropdown li:nth-child(3) ul li:nth-child(2) a, .dropdown li:nth-child(3) ul li:nth-child(3) a {
    color: #6B6B6B;
}

.cd-navigation li:nth-child(3) ul li a, .cd-navigation li:nth-child(4) ul li:nth-child(1) a, .cd-navigation li:nth-child(4) ul li:nth-child(3) a, .cd-navigation li:nth-child(4) ul li:nth-child(4) a, .cd-navigation li:nth-child(5) ul li:nth-child(1) a, .cd-navigation li:nth-child(5) ul li:nth-child(2) a, .cd-navigation li:nth-child(5) ul li:nth-child(3) a {
    color: #6B6B6B;
}