DirectoryIndex login.html
<IfModule mod_rewrite.c>

    # (1)
    RewriteEngine On

    # (2)
    Options +FollowSymlinks

    # (3)
    # Options +SymLinksIfOwnerMatch

    # (4)
    # RewriteBase /

    # (5)
    # RewriteOptions <options>

    # (6)

    RewriteRule ^صفحه-اصلی /home.html [NC,L]
    RewriteRule ^انتخاب-واحد /entekhabvahed.html [NC,L]
    RewriteRule ^درخواست-گواهی /omoordaneshjoo.darkhastgovahi.html [NC,L]
    RewriteRule ^محاسبه-شهریه /omoormali.mohasebegarshahrie.html [NC,L]
    RewriteRule ^ورود /login.html [NC,L]
    
    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=proto:http]

</IfModule>


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]
</IfModule>


<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} "!(^|/)\.well-known/([^./]+./?)+$" [NC]
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>

